/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
---------------------------
---------------------------
*/
@font-face {
  font-family: 'MPlantin';
  src: url('../fonts/mplantin.eot?v=1.3.1');
  src: url('../fonts/mplantin.eot?#iefix&v=1.3.1') format('embedded-opentype'), url('../fonts/mplantin.woff?v=1.3.1') format('woff'), url('../fonts/mplantin.ttf?v=1.3.1') format('truetype'), url('../fonts/mplantin.svg?v=1.3.1#mplantin') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    display: flex;
    justify-content: space-around;
    font-family: "MPlantin";
}

.card-container {
    max-width: 500px;
    height: 700px;
    margin: 0 auto;
    background: #171314;
    margin-top: 56px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px gray;
}

.card-background {
    flex-basis: 80%;
    height: 595px;
    margin: 20px 20px 0 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-image: url(/images/green-background.jpg);
    display: flex;
    z-index: 0;
}

.card-frame {
    z-index: 1;
    position: relative;
    height: 108%;
    max-width: 98%;
    left: 1%;
    top: 0.5%;
    display: flex;
    flex-direction: column;
}

.frame-header,
.frame-type-line {
    background: #c9d8d1;
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 18px/40px;
}

.name,
.type {
    font-size: 1.3em;
    margin-left: 10px;
    align-self: baseline;
    font-weight: 600;
}

#mana-icon {
    font-size: 1.4em;
    background: #ADD3AC;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: -0.05em 0.12em 0px 0 black;
    margin-right: 5px;
    height: 20px;
    align-self: center;
}

.frame-art {
    height: 50%;
    margin: 0 10px; 
}

#set-icon {
    height: 9%;
    width: 6%;
    overflow: hidden;
    margin-right: 10px;
    align-self: center;
}

.frame-type-line {
    margin-top: 0;
}

.frame-text-box {
    margin: 0 10px;
    background: #d3ded6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    padding: 30px 6px;
    box-sizing: border-box;
    font-size: 1.2em;
}

.flavour-text {
    font-style: italic;
    padding: 10px 0;
}

p {
    margin-bottom: 5px;
}

.ftb-inner-margin {
    margin: 5px 1px;
}

.frame-bottom-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 15px; 
}

.frame-bottom-info img {
    overflow: hidden;
    max-width: 10px;
}
.fbi-left {
    flex: 1;
}
.fbi-left p:first-of-type {
    margin-bottom: 1px;
}
.fbi-right {
    flex: 1;
    text-align: right;
}

.fbi-left,
.fbi-right {
    font-size: 10px;
    position: relative;
    top: 6px;
}

.fbi-center {
    border-radius: 60%;
    flex-basis: 40px;
    height: 20px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    background: lightgray;
    box-shadow: 
        0 0 0 4px #171314;
}

.inner-margins {
    margin: 0 10px;
}

/*
    -------------------------
    -------------------------
            BORDERS
    -------------------------
    -------------------------
*/
.frame-header,
.frame-type-line {
    border-bottom: 4px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.frame-header,
.frame-art,
.frame-type-line {
    box-shadow: 
        0 0 0 2px #171314,
        0 0 0 5px #31794c,
        -3px 3px 2px 5px #171314;

    margin-bottom: 7px;
}

.frame-text-box {
    box-shadow: 
        0 0 0 5px #31794c,
        -3px 3px 2px 5px #171314;
}

/*
    ----------------------
    ----------------------
            OVERFLOW
    ----------------------
    ----------------------
*/
.frame-header,
.frame-type-line,
.frame-text-box {
    overflow: hidden;
}

